[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "geiger"]
	path = geiger
	url = https://github.com/cran/geiger
	shallow = true
	registered = true
